<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <h2>Diseases</h2>
        </div>
        <div class="tile-body">
          <app-functionality-buttons [addLabel]="'Create Disease'"
                                     [addLink]="'home/cma-management/diseases/create-diseases'"
                                     
                                     [deleteLabel]="'Delete Disease'"
                                     [endpoint]="'licence/renew/64/100'"></app-functionality-buttons>
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Orders'"
            [canExport]="false"
            [filterParams]="'Name'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  
  